@use '../../styles.scss' as *;

.cat-card-list {
  padding: 2rem 1rem;
}

.cat-card-list-page {
    background: linear-gradient(
    135deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
}


.top3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  margin-top: 2rem;

  app-cat-card {
    flex: 1;
    max-width: 220px;
  }

  // Hauteurs différentes pour podium
  app-cat-card:nth-child(1) {
    transform: translateY(1rem);
  }

  app-cat-card:nth-child(2) {
    transform: translateY(0);
    max-width: 280px;
  }

  app-cat-card:nth-child(3) {
    transform: translateY(1.5rem);
  }

 @media (max-width: $breakpoint-md) {
    gap: 1.5rem;

    app-cat-card {
      max-width: 200px;
    }
  }

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    app-cat-card {
      max-width: 180px;
      width: 100%;
      transform: none !important;
    }
  }
}

.rest-cats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  margin-top: 2rem;

  @media (max-width: $breakpoint-md) {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  @media (max-width: $breakpoint-sm) {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
