@if(isLoading()){
    <app-loading-spinner mode="battle"></app-loading-spinner>
} @else {
    @if (leftCat() != undefined && rightCat() != undefined) {
    <div class="battle-container">
        <div class="cat-side left" [style.background-image]="'url(' + leftCat()!.url + ')'">
        </div>

        <div class="vs-container">
            <p class="vs-text">VS</p>
            <button class="vote-btn" (click)="vote('left')">Vote Gauche</button>
            <button class="vote-btn" (click)="vote('right')">Vote Droite</button>
        </div>

        <div class="cat-side right" [style.background-image]="'url(' + rightCat()!.url + ')'">
        </div>
    </div>
}
}

