@if (isLoading()) {
  <app-loading-spinner mode="battle"></app-loading-spinner>
} @else {
  @if (leftCat() && rightCat()) {
    <div class="battle-page">
      <div class="battle-wrapper">
        <div class="battle-block">
          <div class="cat-img" [style.background-image]="'url(' + leftCat()!.url + ')'"></div>
          <button class="vote-btn" (click)="vote('left')">J'aime</button>
        </div>

        <div class="battle-center">
          <p class="vs-text">VS</p>
        </div>

        <div class="battle-block">
          <div class="cat-img" [style.background-image]="'url(' + rightCat()!.url + ')'"></div>
          <button class="vote-btn" (click)="vote('right')">J'aime</button>
        </div>
      </div>
    </div>
  }
  <app-floating-action-button mode="battle"></app-floating-action-button>

}
